.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 20ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 20ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #3b1d82;
}

.popup .close:hover {
  cursor: pointer;
  color: #FFAC00;
}

.popup .content {
  max-height: 80%;
  overflow: scroll;
  scrollbar-color: rebeccapurple #fff;
  scrollbar-width: thin;
}

.popup .content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.popup .content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rebeccapurple;
  box-shadow: 0 0 1px rebeccapurple;
}

.popup iframe {
  width: 90%;
  height: 50vh;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 78% !important;
    height: 70% !important;
  }
}
