html,
body {
  background-color: black;
  /* background: center / contain no-repeat url("/vbooth/images/hall.jpeg"), black; */
  max-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */

.mfp-iframe-holder .mfp-content {
  max-width: 700px !important;
}

.hide {
  /* transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0 !important;
  overflow: hidden; */
  display: none;
}

.show {
  opacity: 1;
}

.latarx {
  display: grid;
  height: 100vh;
  align-content: center;
}

.latarx img {
  height: 100vh;
  margin: auto;
}

.latar {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.video-btn {
  right: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 80px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  width: 80px;
  height: 80px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sikuen2 {
  position: relative;
}

#hotspots {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
}

.hotspot {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: #555;
  box-sizing: unset !important;
  line-height: normal;
}

.hotspot span {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 7px;
  border-radius: 50%;
  transition: all 0.2s;
}

.hotspot span i {
  font-size: 30px;
}

.hotspot:hover {
  border-color: lightseagreen !important;
  animation-play-state: paused;
  color: #fff;
}

.hotspot:hover span {
  background-color: lightseagreen;
}

.hotspot-img {
  cursor: pointer;
  position: absolute;
  width: 110px;
  height: 60px;
  border: 3px solid rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  box-sizing: unset !important;
}

.hotspot-img span {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 6px 7px;
  border-radius: 50%;
  transition: all 0.2s;
}

.hotspot-img span img {
  width: 90px;
  height: 40px;
}

.hotspot-img:hover {
  border-color: lightseagreen !important;
  animation-play-state: paused;
  color: #fff;
}

.hotspot-img:hover span {
  background-color: white;
}

.hotspot-img.small {
  width: 56px;
  height: 34px;
}

.hotspot-img.small span {
  padding: 4px 5px;
}

.hotspot-img.small span img {
  width: 40px;
  height: 15px;
}

@keyframes fader {
  50% {
    border-color: rgb(255, 255, 255, 0.2);
  }
  100% {
    border-color: rgb(255, 255, 255, 0.8);
  }
}

.no-icon {
  display: none;
}

.btn-ori {
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #120f4e;
  text-transform: uppercase;
  background: #ffbd33;
  border-color: transparent;
  height: 36px;
  padding: 0 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.btn-ori:focus {
  outline: none;
}
.btn-ori:hover {
  color: #fff;
  background: #ffac00;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}
.btn-ori.fill {
  background: transparent;
  padding: 0 25px;
  color: #fff;
  margin-left: 20px;
  border: 2px solid #fff;
}
.btn-ori.fill:hover {
  background: #ffbd33;
  border-color: #ffbd33;
}
.btn-ori.btn-round {
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -ms-border-radius: 36px;
}

.btn-hall {
  display: inline-grid;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #120f4e;
  text-transform: uppercase;
  background: #ffbd33;
  border-color: transparent;
  height: 36px;
  padding: 0 15px;
  border-radius: 3px;
  transition: all 0.4s ease;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}
.btn-hall:focus {
  outline: none;
}
.btn-hall:hover {
  color: #fff;
  background: #ffac00;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}
.btn-hall.fill {
  background: transparent;
  padding: 0 25px;
  color: #fff;
  margin-left: 20px;
  border: 2px solid #fff;
}
.btn-hall.fill:hover {
  background: #ffbd33;
  border-color: #ffbd33;
}

@media (max-width: 991px) {
  .hotspot {
    width: 34px;
    height: 34px;
  }

  .hotspot span i {
    font-size: 16px;
  }

  .hotspot-img {
    width: 68px;
    height: 44px;
  }

  .hotspot-img span img {
    width: 48px;
    height: 22px;
  }

  .hotspot-img.small {
    width: 56px;
    height: 34px;
  }

  .hotspot-img.small span img {
    width: 40px;
    height: 15px;
  }
}
